openai
python-dotenv
datasets
numpy
tqdm
scikit-learn
pip-system-certs
# evaluate
# bert-score
langchain-openai
langchain-community
langchain-text-splitters
chromadb
langchain
beautifulsoup4
pypdf
wikipedia
plotly
ragas
renumics-spotlight
streamlit
# shutil
dotted_dict
PyPDF2
# faiss-gpu
faiss-cpu
torch
transformers
sentence-transformers
accelerate
gradio
pandas
tweepy
praw
google-api-python-client
pytumblr
gnews
bs4
requests
certifi
plotly
pandas_datareader
yfinance